body {
  background-color: white;
  max-width: 1980;
}

img {
  display: block;
  overflow: auto;
  max-width: 1980px;
  max-height: 600px;
  width: auto;
  height: auto;
  object-fit: cover;
}
.nav-link {
  font-weight: 600;
}
.navbar-brand {
  font-family: 'Bitter', serif;
  font-weight: 900;
  font-size: x-large;
}
.carousel-caption {
  position: absolute;
  right: 40%;
  bottom: 30%;
  left: 10%;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
@media (min-width: 992px) {
  .search-sec {
    position: relative;
    top: -300px;
    color: white;
    font-size: 45px;
    margin: 0;
  }
  .search-sec .lets {
    font-family: 'DM Serif Display', serif;
    font-size: 60px;
    padding: 0;
    margin: 0;
    border: 0;
    color: rgb(255, 196, 0);
  }
  .search-sec p {
    font-size: 27px;
    line-height: 0;
  }
}
.input-group {
  max-width: 480px;
}
.fa-search {
  color: rgb(255, 196, 0);
}

.jumbotron {
  position: relative;
  padding: 2rem 1rem;
  text-align: center;
  top: -180px;
  margin: 0;
}
.why {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #006c7b;
}
.book-with {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #006c7b;
}
.jumbotron .us {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #ffaf14;
}
.lead {
  max-width: 1000px;
  text-align: center;
}
.card-item {
  text-decoration: none;
  list-style: none;
  max-width: 386px;
  max-height: 80px;
  display: inline-block;
}
